/* Created on: 20/06/2014, 10:09:15
Author:Gilberto */
/* --------------------- Standards --------------------- */

@font-face {
    font-family: 'lucida_sansregular';
    src: url('../fonts/lsans-webfont.eot');
    src: url('../fonts/lsans-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lsans-webfont.woff2') format('woff2'), url('../fonts/lsans-webfont.woff') format('woff'), url('../fonts/lsans-webfont.ttf') format('truetype'), url('../fonts/lsans-webfont.svg#lucida_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lucida_sansdemibold_roman';
    src: url('../fonts/lsansd-webfont.eot');
    src: url('../fonts/lsansd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lsansd-webfont.woff2') format('woff2'), url('../fonts/lsansd-webfont.woff') format('woff'), url('../fonts/lsansd-webfont.ttf') format('truetype'), url('../fonts/lsansd-webfont.svg#lucida_sansdemibold_roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Mixins, Variables LESS */

.transition-duration(@duration: 0.2s) {
    -moz-transition-duration: @duration;
    -webkit-transition-duration: @duration;
    -o-transition-duration: @duration;
    transition-duration: @duration;
}
.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}
.rounded(@radius: 2px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
@lucida: 'lucida_sansregular', sans-serif;
@lucidaBold: 'lucida_sansdemibold_roman', sans-serif;
@glyphi: 'Glyphicons Halflings';
/* LESS - END */

a {
    text-decoration: none;
}
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    font-size: 1em;
}
img {
    max-width: 100%;
    /*For responsive images*/
}
.container {
    max-width: 1026px;
    /* 1140px - 10% for margins */
}
.blue {
    color: #0099CC;
}
.purple {
    color: #993366;
}
.gray {
    color: #666;
}
.btn {
    padding: 10px 20px !important;
    font-size: 1.063em !important;
    font-size: 1.2em !important;
    .box-shadow(0px 3px 0px 0px rgba(68, 157, 68, 1));
    &:hover {
        .transition-duration(0.6s);
    }
}
.separator-container {
    .separator {
        border-bottom: dashed 1px #CCC;
        margin: 55px 0;
    }
    img {
        position: absolute;
        left: 0;
        right: 0;
        margin: -23px auto 0px;
        background-color: #fff;
        border: solid 8px #fff;
    }
}
.txt-center {
    text-align: center;
}
/* --------------------- Header --------------------- */

.header-container {
    background-color: #009999;
    .logo {
        float: left;
        padding: 10px 0;
    }
    .navbar-toggle {
        background-color: #008585;
        margin-right: 26px;
        margin-top: 20px;
        &:hover, &:focus {
            background-color: #007C7C;
        }
        .icon-bar {
            background-color: #1DA3A3 !important;
        }
    }
    nav {
        a {
            color: #fff;
            line-height: 45px !important;
            &:hover {
                background-color: #048787 !important;
                .transition-duration(0.6s);
            }
        }
        .search {
            height: 40px;
            position: relative;
            input {
                padding-left: 40px;
                font-size: 0.9em;
                color: #777;
                height: 38px;
            }
            span {
                position: absolute;
                color: #999;
                margin: 10px 0 0 15px;
            }
        }
    }
}
/*Pag - Desafio 01 */
/* ------------------ main content ------------------- */

.main-container {
    text-align: center;
    h1 {
        margin: 60px 0 30px 0;
    }
    h2 {
        color: #666;
        font-size: 1.375em;
    }
}
/* --------------------- sections --------------------- */
/* features and benefits */

.features {
    ul {
        padding-left: 0 !important;
    }
    h3, p, a {
        padding-left: 32px;
        font-family: @lucida;
    }
    h3 {
        font-size: 1.125em;
        font-family: @lucidaBold;
        margin-bottom: 5px !important;
    }
    p {
        color: #666;
        margin-bottom: 0;
    }
    a {
        color: #ed8525 !important;
        text-decoration: none;
        font-size: 0.850em;
        &:hover {
            color: #FFA949 !important;
            text-decoration: none;
        }
    }
    li:before {
        float: left;
        font-size: 1.4em;
    }
    .list-features, .list-benefits {
        font-family: @glyphi;
    }
    .list-features {
        li:before {
            content: "\e013";
            color: #0099CC
        }
    }
    .list-benefits {
        li:before {
            content: "\e006";
            color: #993366
        }
    }
}
/* download e-book - collaboration */

.collaboration {
    h3 {
        font-size: 1.3em;
        font-family: @lucidaBold !important;
    }
    h4 {
        font-size: 1em;
        font-family: @lucidaBold !important;
    }
    p {
        font-family: @lucida !important;
    }
    .header-collaboration {
        text-align: center;
        span {
            color: #666;
        }
        h2 {
            margin-top: 5px;
            margin-bottom: 40px;
        }
    }
    .details-book {
        i {
            margin-top: 15px;
            display: block;
            padding-right: 13px;
            font-size: 0.875em;
        }
        p {
            margin: 15px 0;
            font-size: 1em;
        }
        a {
            width: 97%;
        }
    }
    .img-book {
        background-color: #D7D7D7;
        width: 97%;
        height: 295px;
        display: block;
        .rounded(3px);
        .box-shadow(4px 4px 0px 0px rgba(50, 50, 50, 0.3));
        margin: 25px 0 15px 0;
    }
    .list-collaboration-alert {
        padding-bottom: 20px;
        margin-top: 20px;
        .col-md-12:before {
            content: none;
        }
        .separator {
            margin-top: 20px;
            border-bottom: dashed 1px #CCC;
        }
    }
    .list-collaboration-alert, .list-collaboration-ok {
        font-family: @glyphi;
        h4 {
            margin-top: 7px !important;
        }
        h4, p {
            padding-left: 28px;
        }
        p {
            font-size: 0.875em;
        }
    }
    .list-collaboration-alert > div:before {
        content: "\e107";
        float: left;
        color: #ff9900;
        margin-top: -5px;
        font-size: 1.3em;
    }
    .list-collaboration-ok > div:before {
        content: "\e084";
        float: left;
        color: #006600;
        margin-top: -5px;
        font-size: 1.3em;
    }
}
/*ratification by MEC*/

.ratification {
    .title {
        text-align: center;
        margin-top: 0 !important;
        margin-bottom: 40px;
    }
    .ra-left {
        a {
            color: #ed8525 !important;
            &:hover {
                color: #FFA949 !important;
                text-decoration: none;
            }
        }
    }
    .img-document {
        background-color: #D7D7D7;
        width: 75%;
        height: 310px;
        display: block;
        .rounded(3px);
        .box-shadow(4px 4px 0px 0px rgba(50, 50, 50, 0.3));
        margin: 40px auto 0px;
        text-align: center;
        .selo {
            position: absolute;
            margin: 66px 0 0 -150px;
            width: 120px;
            height: 85px;
            background-color: #AAA;
            .rounded(4px);
        }
    }
    .btn {
        width: 75%;
        margin: 30px auto 0px;
        display: block;
    }
    .list-resolution {
        border-left: 12px solid #0099CC;
        padding-left: 25px;
        margin-top: 30px;
        li {
            padding-bottom: 18px;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
/*how to deploy a "ADE*/

.implant-container {
    background: #eee;
    border: 1px solid #e3e3e3;
    padding: 20px 0 47px 0;
    margin-top: 50px;
    text-align: center;
    .subtitle {
        margin: 0 0 20px 0;
    }
}
/*Pag - Desafio 02 */

.title-container {
    margin: 20px 0 20px 0;
    h1 {
        font-family: @lucidaBold;
    }
    .midias {
        margin-top: 18px;
        float: right;
        .at15t_twitter, .at15t_facebook {
            margin-right: 5px;
        }
    }
}
#table-ideb {
    border-left: 5px solid #BBB;
    margin-bottom: 35px;
    th {
        font-size: 1em;
        font-family: @lucidaBold;
        .title-table {
            padding-top: 17px;
        }
        .title-table.pull-left {
            padding-left: 8px;
        }
        .search-mu {
            position: relative;
            margin: 10px 15px 0 0;
            input {
                padding: 0 10px 0 30px;
                font-size: 0.875em;
            }
            span {
                position: absolute;
                margin: 9px 0 0 10px;
                color: #999;
            }
        }
    }
    tr.situation {
        td {
            font-size: 0.845em;
            font-family: @lucidaBold;
            text-align: center;
            color: #222;
        }
    }
    td {
        text-align: center;
        color: #444;
        &:first-child {
            text-align: left;
            padding-left: 15px;
        }
    }
    .new-line {
        td {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .nome-escola {
        font-size: 1.125em;
        font-family: @lucidaBold;
    }
    .fxa {
        margin-top: 12px;
        font-size: 1.063em;
    }
    /*Css Easy Pie Chart - Edit*/
    
    .yellow {
        color: #ffd614;
    }
    .orange {
        color: #fd8317;
    }
    .green {
        color: #b8df26;
    }
    .blue {
        color: #34a1de;
    }
    .ln-char {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .chart {
        position: relative;
        text-align: center;
    }
    .chart .percent {
        position: absolute;
        left: 34%;
        line-height: 77px;
        font-family: @lucidaBold;
        &:after {
            content: "%";
        }
    }
}
/* --------------------- Footer --------------------- */

.footer-container {
    border-top: 1px solid #eeeeee;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 0.875em;
    .copyright {
        color: #999;
    }
    .go-top {
        a {
            color: #ed8525 !important;
            &:hover {
                color: #FFA949 !important;
                text-decoration: none;
            }
        }
        span {
            margin-left: 3px;
            font-size: 0.750em;
        }
    }
}
